table, td {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid grey;
	height: 30px;
}

#divfpga {
    left: 10px;
    top: 0px;
    width: 800px;
    height: 220px;
    position: relative;
}

#divtask {
	border-top: 1px slid black;
    left: 10px;
    top: 0px;
    width: 800px;
    position: relative;
}

#divarea {
	border-top: 1px slid black;
    left: 800px;
    top: 220px;
    width: 400px;
    position: absolute;
}

#divgantt {
	border-top: 1px slid black;
    position: relative;
    left: 10px;
}