
<html>
<head>
	<script type="text/javascript" src="web_view_files/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="web_view_files/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="web_view_files/jquery-ui.min.css"/>	


	<link rel="stylesheet" type="text/css" href="web_view_files/floorplan.css"/>
	<script type="text/javascript" src="web_view_files/fabric.js"></script>
	<script type="text/javascript" src="web_view_files/floorplan.js"></script>
	<script type="text/javascript">
		var fpgaData = 	{{{fpga}}}
	</script>
</head>
<body>

	<div class="application">
		

		<div class="content">
			<script type="text/javascript">

				$(function(){
					
					setupCanvas(fpgaData,0);
					
					{{{regions}}}
					
					generateInterconnectionsTable();
					initConn({{{connections}}});
					initResCost({"CLB":"1","DSP":"1","BRAM":"1"});
					initSliders({"WL":"100","P":"0","R":"0"});
					updateConn();
					updateObj();
					
				});
			</script>

<div style="position:relative">
	<div class="head">
	</div>

	
	<div style="float:left; position:relative;">
		<canvas style="border:solid 1px; display:block; top:0px; left:0px; position:absolute;" id="FPGAcanvas">
		</canvas>
		<canvas style="border:solid 1px; display:block; top:0px; left:0px; position:absolute;" id="LINEScanvas">
		</canvas>
		<canvas style="border:solid 1px; display:block; top:0px; left:0px; position:absolute;" id="regionCanvas">
		</canvas>
	</div>


	<div class="container" style="float:left;">
					<div class="regionInfo">
				<h2 class="box">Regions info</h2>
				<div id="regionInfo">
				</div>
			</div>
		

			<div class="objective">
				<h2 class="box">Metrics Relevance</h2>
				<div class="sliders">
					<table>
						<thead>
							<tr>
								<td>Wirelength</td>
								<td>Perimeter</td>
								<td>Wasted<br/>Resources</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><div id="sliderWL"></div></td>
								<td><div id="sliderP"></div></td>
								<td><div id="sliderR"></div></td>
							</tr>
							<tr>
								<td><input class="readonly" type="text" id="qWL" readonly="readonly"></td>
								<td><input class="readonly" type="text" id="qP" readonly="readonly"></td>
								<td><input class="readonly" type="text" id="qR" readonly="readonly"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		


		
			<div class="optimization">
				<h2 class="box">Floorplan Status</h2>
				<p>The current floorplan is <span id="statusStr"></span> <span id="reason"></span></p>
				<h3>Objective</h3>
				<table>
					<tr>
						<td></td><td>Wirelength</td><td>Perimeter</td><td>Wasted Resources</td>
					</tr>
					<tr>
						<td>Absolute values</td>
						<td><input type="text" id="a_WL" readonly="readonly"></td>
						<td><input type="text" id="a_P" readonly="readonly"></td>
						<td><input type="text" id="a_R" readonly="readonly"></td>
					</tr>
					<tr>
						<td>Normalized values</td>
						<td><input type="text" id="n_WL" readonly="readonly"></td>
						<td><input type="text" id="n_P" readonly="readonly"></td>
						<td><input type="text" id="n_R" readonly="readonly"></td>
					</tr>

				</table>
				<p>
					<b>Global Normalized Objective</b> <input type="text" id="globalObj" readonly="readonly">
				</p>
			</div>
		

		
			<div class="parInfo" id="parInfo" style="display:none">
				<h2 class="box">Parameters</h2>
				<div class="parBox">
					<h3 class="box">Resource Cost</h3>
					<div id="resCost">
					</div>
				</div>
				<div class="parBox">
					<h3 class="box">Interconnections</h3>
					<div id="connectionsArea">
					</div>
				</div>
			</div>
			</div>

	</div>
</div>

</body>
</html>